html {
  height: 100%;
  background: 50% 50% no-repeat
    url('data:image/svg+xml,<svg viewBox="-20 -5 60 40" width="140" xmlns="http://www.w3.org/2000/svg" opacity="0.2"><path d="M1 8l11-7 11 7v8l-11 7-11-7zm0 0l11 8 11-8m0 8L12 8 1 16M12 1v7m0 8v7" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/><text x="-12" y="32" font-size="5" font-family="monospace" fill="currentColor">Built on CodePen</text></svg>');
}
h1{text-align : center ; font-weight : Bold ; color : red ; border-style : solid ; border-radius : 5px}
p{font-family : Georgia ; color : black ; font-style : italic; font-size : 18px}
body{background-color : yellow ; border-color : red ; border-radius : 30px
    }
ul{list-style-type:none;background-color:yellow;}
li{display : inline; border-right : 3px solid gray}
h1{border : 3px solid red;}
body {
  background-image: url("https://i.pinimg.com/originals/56/a8/9b/56a89bd81fb611d4ca14c435e4e32c6e.jpg");
}
    }